@charset "UTF-8";

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */
body {
  background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#000000; font-size:16px;
}

h1 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

main {
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
  padding-bottom: 30px;
}

#imageContainer {
	width:600px;
	height:360px;
	background-color:grey;
	margin:0 auto;
	overflow:hidden;
}

#houseImages {
  position:relative;
  width:5200px;
  transition: all .5s;
}

#houseImages img {
   float:left;
 }

#bottomNav {
  margin-top:30px;
}

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigilContainer {
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites_updated.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark {
  background-position:0px -54px;
}
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-50.5px -54px; }
.baratheon:hover { background-position:-51px 0px; }

.lannister { background-position:-101px -54px; }
.lannister:hover { background-position:-101px 0px; }

.tully { background-position:-152px -54px; }
.tully:hover { background-position:-152px 0px; }

.greyjoy { background-position:-202px -54px; }
.greyjoy:hover { background-position:-202px 0px; }

.arryn { background-position:-253px -54px; }
.arryn:hover { background-position:-253px 0px; }

.targaryen { background-position: -355px -54px; }
.targaryen:hover { background-position: -355px 0px ; }

.frey { background-position: -304px -54px; }
.frey:hover { background-position: -304px 0px;}
/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* add styles here for lightbox and video */

.lightbox {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.95);
}


.close-lightbox {
	position: absolute;
	right: 12px;
	top: 12px;
	font-family: arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.show-lightbox { display: block; }

video {
	width: 80%;
	margin-top: 10%;
	border: thin solid #949393;
}

#video-controls {
    background-color: white;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

#play-pause
{
    border: 1px solid #0B1829;
    height: 41px;
    color: #000;
    width: 5%;
    font-size: 20px;
    float: left;
    text-align: center;
}

#volume-bar-cont
{
    border: 1px solid #0B1829;
    height: 40px;
    width: 15%;
    float: left;
    text-align: center;
}

#volume-bar
{
    width: 95%;
    margin-top: 18px;
}

#seek-bar-cont
{
    border: 1px solid #0B1829;
    height: 40px;
    float: left;
    width: 74.6%;
    text-align: center;

}

#seek-bar
{
    width: 95%;
    margin-top: 18px;
}

#full-screen
{
    border: 1px solid #0B1829;
    height: 41px;
    float: left;
    width: 5%;
}

#full-screen img
{
    width: 25px;
}

button:hover {
    cursor: pointer;
}

.slider
{
    -webkit-appearance: none;
    height: 4px;
    background: #000;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.slider::-moz-range-thumb
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.house-name {
  margin-bottom: 20px;
}

.house-info {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  line-height: 24px;
  width: 80%;
  margin: auto;
}
